<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoBlog</title>
</head>
<body>

Welcome to DigiPic Blog World
<h1>Existing Member<a href="/login">Login</a></h1>
<h2>New Member <a href="/signup">Signup</a></h2>
</body>
</html>
