<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoBlog</title>
</head>
<body>

Welcome to DigiPic Blog World
<h1> Login</h1>
<form method="post">
    <input type="email" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit">
</form>
<h2>Forgot Password <a href="/pforgot">Forgot Password</a></h2>
<h2>New Member <a href="/signup">Signup</a></h2>
</body>
</html>