<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoBlog</title>
</head>
<body>

Welcome to DigiPic Blog World
<h1> You have successfully logged out</h1>

<h2>Login <a href="/login">Login</a></h2>
</body>
</html>