<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoBlog</title>
</head>
<body>

Welcome to DigiPic Blog World
<h1> Reset Password</h1>
<form method="post">
    <input type="email" name="username" placeholder="Username"><br>
    <input type="tel" name="phone" placeholder="contact number"><br>
    <input type="submit">
</form>
</body>
</html>