<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoBlog</title>
</head>
<body>
Welcome to DigiPic Blog World

<h1> Enter New Password</h1>
<form method="post">
    <input type="password" name="newpassword1" placeholder="Password"><br>
    <input type="password" name="newpassword2" placeholder="Retype Password"><br>
    <input type="submit">
</form>
</body>
</html>