<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoBlog</title>
</head>
<body>

Welcome to DigiPic Blog World
<h1> Signup</h1>
<form method="post">

    <input type="email" name="username" placeholder="email"><br>
    <input type="text" name="firstname" placeholder="first name"><br>
    <input type="text" name="lastname" placeholder="last name"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="tel" name="phone" placeholder="contact number"><br>
     <label for="sr">Role</label>
    <select name="role" id="sr"> 
        <option value="user">user</option>
        <option value="admin">admin</option>
        </select>
    <input type="submit">

</form>
<a href="/"></a></h2>
</body>
</html>