<!DOCTYPE html>
	<html lang="en">
 	 <head>
    <meta charset="utf-8">
    <title>Composition</title>
    </head>
  	<body>
{{.Fall.Term}}<br>
{{range .Fall.Courses}}
{{.Number}} - {{.Name}} - {{.Units}}<br>
{{end}}

{{.Spring.Term}}<br>
{{range .Spring.Courses}}
{{.Number}} - {{.Name}} - {{.Units}}<br>
{{end}}
  </body>
	</html>